<footer class="footer" role="contentinfo">
    <div class="main-wrapper">
        <div class="footer__content">
            <div class="footer__left">
                <div class="footer__address">
                    {% for social in options.socials %}
                        <p class="footer__address--phone">{{social.phone}}</p>
                        <p class="footer__address--email">{{social.email}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="footer__right">
                <p class="footer__right">Copyright &copy; Nowiz 2018 by Łukasz Tymiński</p>
            </div>
        </div>
    </div>
</footer>
