<header class="header" role="banner">
    <div class="main-wrapper">
        <input type="checkbox" class="header__switchHidden" id="close">
        <div class="header__bar">
            <div class="header__logo">
                <h1 class="header__logo--name">{{options.company_name}}</h1>
                <a href="{{site.link}}"><img class="img-responsive" src="{{TimberImage(options.company_logo)}}" alt="{{options.company_name}}"></a>
            </div>

            <label for="close" class="header__triggerMenu">
                <span class="header__triggerMenu--line"></span>
                <span class="header__triggerMenu--line"></span>
                <span class="header__triggerMenu--line"></span>
            </label>

            <div class="header__menu">
                <nav class="header__nav">
                    {% for item in menu.sitemap.get_items %}
                    <a href="{{item.link}}" class="header__link {% if 'current-menu-item' in item.classes %} header__link--active {% endif %}">
                        {{item.title}}
                    </a>
                {% endfor %}
                </nav>
            </div>
        </div>

    </div>
</header>