@require 'normalize.css/normalize.css'

*, *::after, *::before
    box-sizing border-box
    outline: none
    &:hover
        outline none

html
    background-color #fff
    font-size 62.5%
body
    min-height 100vh
    position relative
    margin 0
    color #000
    display flex
    flex-direction column
    font: 1.4rem $lato
    -webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

    &::-webkit-scrollbar
        width 5px !important
    &::-webkit-scrollbar-track
        background #fff
    &::-webkit-scrollbar-thumb
        background-color rgba(#1f1f1f, 0.5)
        &:hover
            background-color #1f1f1f

p
    margin 0 auto
    text-align center



h1, h2, h3, h4, h5, h6
    margin: 0;
    text-transform uppercase
h2
    display inline-block

ul
    list-style: none;
    margin: 0;
    padding: 0;

button
    border none
    background none

.main
    overflow hidden

.main-wrapper
    max-width 1150px
    margin 0 auto
    width calc(100% - 20px)

.img-responsive
    max-width 100%
    display block
    height auto
    +tablet()
        display initial

.hide
    display none
    height 0
    text-indent -9999rem
