<!doctype html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="{{ site.charset }}"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site.title }}</title>
        <meta content="{{ site.description }}" name="description">

        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/assets/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/assets/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/assets/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/assets/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ site.theme.link }}/assets/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/assets/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ site.theme.link }}/assets/favicons/manifest.json">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css"/>
        <meta property="og:image" content="{{ site.theme.link }}/assets/facebook.png" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:url"content="{{ site.url }}" />
        <meta property="og:title" content="{{ site.title }}" />
        {{ wp_head }}
    </head>
    <body class="{{ body_class }}">

        {% block header %}
            {% include 'components/header/template.twig' %}
        {% endblock %}

        <main class="main" role="main">
        {% block body %}

        {% endblock %}
        </main>

        {% block footer %}
            {% include 'components/footer/template.twig' %}
        {% endblock %}

        <script src="{{ site.theme.link }}/code.js"></script>

        {% block scriptsdeps %}

        {% endblock %}
        {{ wp_footer }}
    </body>
</html>
