{% extends "template.twig" %}

{% block body %}

    {% for component in page.get_field('sections') %}
        {% include "/components/#{component.acf_fc_layout}/template.twig" with {'component': component} %}
    {% endfor %}

{% endblock %}
